# Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# AI Engine
ai-engine/data/*.csv
ai-engine/models/*.pt
ai-engine/models/*.onnx

# Node (agar frontend build tools use karo future mein)
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/